/* You can add global styles to this file, and also import other style files */
:root {
    --green: #076652;
    --yellow: #ffee51;
    --red: #C9222A;
}

html {
    max-height: 100%;
    border-top: 5px solid var(--green);
}

body {
    height: 100%;
}